<!DOCTYPE html>
<html>
  <head>
    <title>Plataforma Bancaria</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css" />
  </head>
  <body>
    <div class="container" id="loginCont">
      <form>
        <h1>Movimientos</h1>
        <label for="">Proxima Fecha de Pago:</label>
        <label id="fechaPago" for="">##/##/####</label>
        <label for="">Cuota Mensual:</label>
        <label id="cuotaM" for="">####.##</label>
        <label for="">Saldo Vencido:</label>
        <label id="saldoV" for="">####.##</label>
        <label for="">Valor Ultimo Pago:</label>
        <label id="valorUP" for="">####.##</label>
        <label for="">Fecha Ultimo Pago:</label>
        <label id="fechaUP" for="">##/##/####</label>
        <label for="">Pago Minimo:</label>
        <label id="pagoMin" for="">####.##</label>
        <div class="botonesPago">
          <a href="./historial.html"
            ><button type="submit">Historial Pagos</button></a
          >
          <a href="./historial.html"
            ><button type="submit">Transaccion</button></a
          >
        </div>
      </form>
    </div>
  </body>
</html>
